---
import Logo from "~/assets/logo.svg"
import Container from "~/components/Container.astro"
---

<footer class="py-8 border-t">
  <Container class="flex items-center justify-between text-sm text-foreground/40">
    <Logo class="h-5 w-auto" />

    <p>
      Made by <a
        href="https://kulpinski.pl"
        target="_blank"
        rel="noopener"
        class="hover:text-foreground/70 transition-colors">@piotrkulpinski</a
      >
    </p>
  </Container>
</footer>
