---
import Logo from "~/assets/logo.svg"
---

<header class="flex justify-center py-6 md:py-8">
  <a href="/" class="group">
    <Logo class="h-6 w-auto opacity-80 group-hover:opacity-100" />
  </a>
</header>
