---
import { PLAUSIBLE_DOMAIN, PLAUSIBLE_URL } from "astro:env/client";
import Logo from "~/assets/logo.svg";
import "~/styles.css";
---

<!doctype html>
<html lang="en">
  <head>
    <title>
      Automate ad spot management, increase revenue and make advertisers happy –
      OpenAds
    </title>

    <!-- Meta -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="author" content="Piotr Kulpinski" />
    <meta name="generator" content={Astro.generator} />

    <link
      href="/favicon.png"
      rel="icon"
      media="(prefers-color-scheme: light)"
    />
    <link
      href="/favicon-dark.png"
      rel="icon"
      media="(prefers-color-scheme: dark)"
    />

    <!-- Plausible Analytics -->
    <script
      is:inline
      defer
      data-domain={PLAUSIBLE_DOMAIN}
      src={`${PLAUSIBLE_URL}/js/script.js`}></script>
  </head>

  <body
    class="flex flex-col items-center min-h-dvh py-4 bg-background text-foreground font-sans antialiased md:py-8"
  >
    <Logo class="h-6 w-auto mx-8 opacity-80" />
    <slot />
  </body>
</html>
