---
import Logo from "~/assets/logo.svg";
import "~/styles.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>OpenAds</title>
  </head>

  <body
    class="flex flex-col items-center min-h-dvh py-4 bg-background text-foreground font-sans antialiased md:py-8"
  >
    <Logo class="h-6 w-auto mx-8 opacity-80" />
    <slot />
  </body>
</html>
